@{
    ViewData["Title"] = "Search";
}

<form id="search-container" class="form-control me-2" method="post" asp-action="MatchDetail">
    <input id="search-summoner-name" type="search" name="summonerName" required />
    <button type="submit"><i class="bi bi-search"></i></button>
</form>