@{
    ViewData["Title"] = "YOURGG - 검색";
}

<h2>소환사 검색</h2>
<form method="post" asp-action="MatchDetail">
    <input type="text" name="summonerName" placeholder="" required />
    <button type="submit">검색</button>
</form>